

    <div class="screen">
        <img class="image" src="images/Catalog/balo.png" />
        <div class="text-wrapper">1 шт.</div>
        <p class="div">
            <span class="span">Рюкзак</span>
            <span class="text-wrapper-2">
            </span>
            <span class="text-wrapper-3">Nova Tour Альфа 65 v2</span>
        </p>
        <div class="view"></div>
        <p class="p">
            <span class="text-wrapper-4">32,76 </span>
            <span class="text-wrapper-5">₽</span>
            <span class="text-wrapper-4">/день</span>
        </p>
    </div>


    @code {
     
    }

