@page "/aboutus"


<div class="screen">
    <div class="div">
        <header class="navbar">
            <div class="text-wrapper-11">Equipment Storage</div>
            <a href="/aboutus" target="_self">
                <div class="text-wrapper-12">О нас</div>
            </a>
            <a title="" href="/catalog" target="_self">
                <div class="text-wrapper-13">Каталог</div>
            </a>
            <a title="" href=".condition" target="_self">
                <div class="text-wrapper-14">Условия аренды</div>
            </a>
            <a title="" href="/payment" target="_self">
                <div class="text-wrapper-15">Об оплате</div>
            </a>
            <a title="" href="/contact" target="_self">
                <div class="text-wrapper-16">Контакты</div>
            </a>
            <img class="image" src="/images/AboutUs/image 37.png" />
            <a href="/profile"><div class="profile"></div></a>
        </header>
        <div class="text-wrapper">Equipment Storage</div>
        <p class="p">
            Мы - твой помощник в навигации по снаряжению Турклуба НИТУ “МИСИС”. У нас представлен широкий&nbsp;&nbsp;
            ассортимент экипировки для любого мероприятия: тренировок, соревнований и походов.
        </p>
        <div class="text-wrapper-2">Наше снаряжение:</div>
        <div class="view">
            <div class="overlap-group">
                <div class="text-wrapper-3">Направления</div>
                <div class="text-wrapper-4">Пешеходное</div>
                <div class="text-wrapper-5">Водное</div>
                <div class="text-wrapper-6">Водное</div>
                <div class="text-wrapper-7">Лыжное</div>
                <div class="text-wrapper-8">Зимнее</div>
                <div class="text-wrapper-9">Категория снаряжения</div>
                <div class="text-wrapper-10">Бивачное<br />Специальное<br />Слетное<br />Ориентирование<br />Приборы</div>
            </div>
        </div>

        <footer class="footer">
            <div class="text-wrapper-17">© 2023, EquipmentStorage.ru</div>
            <div class="t-wrapper">
                <div class="t">Tур<br />Клуб</div>
            </div>
            <img class="img" src="/images/AboutUs/4.png" />
            <img class="image-2" src="/images/AboutUs/3.png" />
            <img class="image-3" src="/images/AboutUs/2.png" />
        </footer>
        <a title="" href="/catalog" target="_self">
            <div class="div-wrapper">
                <div class="text-wrapper-18">Перейти к снаряжениям</div>
            </div>
        </a>
    </div>
</div>

@code{

}


