@using EquipmentStorageWeb.Data.Models
@using EquipmentStorageWeb.Services
@using Blazored.SessionStorage
@inject NavigationManager NavigationManager
@inject ISessionStorageService SessionStorage

@page "/login"


<div class="screen">
    <div class="overlap-group-wrapper">
        <div class="overlap-group">
            <header class="header-simple">
                <!--<a class="text-wrapper-6" href="/aboutus">О нас</a>-->

                <a class="text-wrapper-7" href="/condition">Условия аренды</a>

                <a class="text-wrapper-8" href="/contact">Контакты</a>

            </header>
            <div class="image">
                <img src="./images/Index/Картинка.png" />
            </div>
            <div class="img">
                <svg xmlns="http://www.w3.org/2000/svg" width="823" height="868" viewBox="0 0 823 864" fill="none">
                    <path d="M769.495 866C746.818 828.754 733.273 784.913 729.486 740.628C723.45 670.123 740.58 598.882 769.852 535.149C793.264 484.247 825.276 433.568 822.758 377.075C819.484 302.894 758.981 247.559 728.172 180.796C702.51 125.105 698.812 58.966 716.366 0H0.5V866H769.495Z" fill="white" />
                </svg>
            </div>
            <a class="view" href="/">

                <div class="text-wrapper">Назад</div>
                <img class="arrow" src="https://c.animaapp.com/jBKfW8vv/img/arrow-2.svg" />
            </a>
            <button class="div-wrapper" @onclick="Login"><div class="div">Войти</div></button>

            <div class="group">
                <img class="line" src="https://c.animaapp.com/jBKfW8vv/img/line-1.svg" />
                <img class="line-2" src="https://c.animaapp.com/jBKfW8vv/img/line-1.svg" />


                <input type="text" @bind="login" name="ID" class="text-wrapper-2" placeholder="Логин, e - mail или телефон">
                <input type="password" @bind="password" name="password" class="text-wrapper-3" placeholder="Пароль">


                <button class="text-wrapper-4" onclick="forgot()">Забыли пароль?</button>

            </div>
            <div class="text-wrapper-5">Equipment Storage</div>
            <div class="view-2">
                <img class="image-5" src="/images/Index/рюкзак.png" />
                <img class="image-4" src="/images/Index/компас.png" />
                <img class="image-3" src="/images/Index/палатка.png" />
                <img class="image-2" src="/images/Index/бинокль.png" />
            </div>
            <p class="restrict" style="visibility:@state">Неправильный логин или пароль</p>
        </div>
    </div>
</div>

@code{
    string login;
    string password;

    string state = "collapse";

    [Inject]
    private IUserAuthProvider UserAuthProvider { get; set; }

    protected async Task OnInitializedAsync()
    {
        state = "collapse";
    }

    protected async void Login()
    {
        UserAuthLogPasDTO user = new UserAuthLogPasDTO()
        {
            Login = login,
            Password = password,
        };

        try
        {
            var result = await UserAuthProvider.GetAutorization(user);

            await SessionStorage.SetItemAsync<int>("id", result.UserId);
            await SessionStorage.SetItemAsync<string>("name", result.Name);
            await SessionStorage.SetItemAsync<string>("surname", result.Surname);
            await SessionStorage.SetItemAsync<string>("patronymic", result.Patronymic);
            await SessionStorage.SetItemAsync<string>("birthday", result.Birthday.ToString());
            await SessionStorage.SetItemAsync<List<Interest>>("interests", result.Interests);
            if(result.UserId>0)
                NavigationManager.NavigateTo("/aboutus");
        }
        catch
        {
            state = "";
        }


    }



}