.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .screen .overlap-group-wrapper {
        background-color: #ffffff;
        width: 1512px;
        height: 866px;
    }

    .screen .overlap-group {
        position: relative;
        height: 866px;
        margin-top: -2px;
        overflow: hidden;
    }

    .screen .image {
        width: 810px;
        height: 866px;
        left: 712px;
        position: absolute;
        top: 0;
    }

        .screen .image img {
            margin-top: 2px;
        }

    .screen .img {
        width: 822px;
        height: 866px;
        left: 10px;
        position: absolute;
        top: 0px;
        bottom: 0px;
    }

    .screen .text-wrapper {
        position: absolute;
        top: 335px;
        left: 120px;
        font-family: "Open Sans", Helvetica;
        font-weight: 600;
        color: #274251;
        font-size: 64px;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .div {
        top: 439px;
        left: 120px;
        font-weight: 400;
        color: #274251;
        font-size: 36px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .view {
        position: absolute;
        width: 545px;
        height: 100px;
        top: 223px;
        left: 130px;
    }

    .screen .image-2 {
        width: 100px;
        height: 100px;
        left: 445px;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .screen .image-3 {
        width: 100px;
        height: 100px;
        left: 295px;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .screen .image-4 {
        width: 95px;
        height: 95px;
        left: 150px;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .screen .image-5 {
        width: 100px;
        height: 100px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
    }

    .screen .div-wrapper {
        position: absolute;
        width: 431px;
        height: 83px;
        top: 589px;
        left: 120px;
        border-radius: 40px;
        border: 5px solid transparent;
        background: linear-gradient(white, white) padding-box, linear-gradient( rgb(66, 168, 176), rgb(103, 198, 191)) border-box;
    }

    .screen .text-wrapper-2 {
        top: 13px;
        left: 165px;
        background: linear-gradient(180deg, rgb(66, 168, 176) 0%, rgb(103, 198, 191) 100%);
        -webkit-background-clip: text !important;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        font-weight: 600;
        color: transparent;
        font-size: 32px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .header-simple {
        position: absolute;
        width: 450px;
        height: 33px;
        top: 69px;
        left: 120px;
        z-index: 10;
    }

    .screen .text-wrapper-3 {
        top: -1px;
        left: 0;
        font-weight: 400;
        color: #274251;
        font-size: 24px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .text-wrapper-4 {
        top: -1px;
        left: 105px;
        font-weight: 400;
        color: #274251;
        font-size: 24px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .text-wrapper-5 {
        top: -1px;
        left: 338px;
        font-weight: 400;
        color: #274251;
        font-size: 24px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .screen .view-2 {
        position: absolute;
        width: 431px;
        height: 83px;
        top: 690px;
        left: 120px;
        border-radius: 40px;
        background: linear-gradient(180deg, rgb(66, 168, 176) 0%, rgb(103, 198, 191) 100%);
    }

    .screen .text-wrapper-6 {
        top: 17px;
        left: 48px;
        font-weight: 600;
        color: #ffffff;
        font-size: 32px;
        position: absolute;
        font-family: "Open Sans", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }
